# Переменные окружения для базы данных PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=car_aggregator
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?sslmode=disable

# Порт, на котором будет работать приложение
HTTP_ADDR=":8080"

# --- СЕКРЕТНЫЕ ДАННЫЕ ---
# !!! НЕОБХОДИМО ЗАПОЛНИТЬ ВРУЧНУЮ !!!
# Замените значения <...> на ваши реальные ключи и токены.
# API
DADATA_API_KEY=<copy here your "API-ключ">
DADATA_SECRET_KEY=<copy here your "Секретный ключ">
CARAPI_TOKEN=<copy here your "API Token">
CARAPI_SECRET=<copy here your "Api Secret">

# RabbitMQ
RABBITMQ_MESSAGE_SENDER_QUEUE_NAME=<your queue name, example: car-aggregator>
RABBITMQ_MESSAGE_EVENT_NAME=<your event name, example: car-aggregator>
RABBITMQ_URL=<your url, recommended to use "amqp://guest:guest@rabbitmq:5672" for docker>
